fastapi
uvicorn[standard]
python-multipart
python-dotenv
langchain
langchain-openai
openai>=1.0.0
tiktoken
pandas
gspread
oauth2client
fpdf
pymupdf
email-validator
requests
google-cloud-bigquery
google-cloud-storage
pyarrow